@model AaluxWeb.Models.ClassCar

@{
    ViewBag.Title = "Details";
}
@Html.Partial("_AdminNavPartial")
<div class="container">
    <h2>Details</h2>
    <div class="row">
        <div class="col-xs-12">
            <div>
                <h4>ClassCar</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Price)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>

        </div>
    </div>
</div>

