@model AaluxWeb.Models.NewOrderViewModel

@{
    ViewBag.Title = "Home Page";
}

<div id="bg1">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                <img src="~/Content/Image/logo.png" class="img-responsive" alt="Responsive image">
            </div>
            <div class="col-xs-4 col-sm-4">
                <img src="~/Content/Image/wifi.png" class="img-responsive" alt="Responsive image">
            </div>
            @*<div class="col-xs-4 col-sm-4">
                <h3>+44(0)189 544 8503</h3>
                <h3>+44(0)785 096 6168</h3>
                <h3>Minsk +375(29)625 8309</h3>
            </div>*@
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h1>CORPORATE CHAUFFEUR SERVICES</h1>
                <h2 class="subtitle">Get order</h2>
            </div>
            <div class="col-sm-6">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">

            </div>
        </div>
    </div>
    <div class="container" ng-app="myApp" ng-controller="orderCtrl">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Booking now
        </button>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="gridSystemModalLabel">Order form</h4>
                    </div>
                        <div class="modal-body">
                            @using (Ajax.BeginForm(new AjaxOptions() { OnSuccess = "OnSuccess", OnFailure = "OnFail", OnComplete = "OnComplete" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="row">
                                    <div class="col-xs-6 col-sm-3">
                                        <img src="~/Content/Image/a1.png" alt="" class="img-responsive" for="ClassCarId" />
                                        @Html.RadioButtonFor(model => model.ClassCarId, "", new { ng_value = "ClassCar[1].Id", ng_click = "SetClassCar(ClassCar[1])" })
                                        <label>{{ClassCar[1].Name}}</label>
                                    </div>
                                    <div class="col-xs-6 col-sm-3">
                                        <img src="~/Content/Image/a2.png" alt="" class="img-responsive" />
                                        @Html.RadioButtonFor(model => model.ClassCarId, "", new { ng_value = "ClassCar[0].Id", ng_click = "SetClassCar(ClassCar[0])" })
                                        <label>{{ClassCar[0].Name}}</label>
                                    </div>
                                    <div class="col-xs-6 col-sm-3">
                                        <img src="~/Content/Image/a3.png" alt="" class="img-responsive" />
                                        @Html.RadioButtonFor(model => model.ClassCarId, "", new { ng_value = "ClassCar[2].Id", ng_click = "SetClassCar(ClassCar[2])" })
                                        <label>{{ClassCar[2].Name}}</label>
                                    </div>
                                    <div class="col-xs-6 col-sm-3">
                                        <img src="~/Content/Image/a4.png" alt="" class="img-responsive" />
                                        @Html.RadioButtonFor(model => model.ClassCarId, "", new { ng_value = "ClassCar[3].Id", ng_click = "SetClassCar(ClassCar[3])" })
                                        <label>{{ClassCar[3].Name}}</label>
                                    </div>
                                    <div class="col-xs-12">@Html.ValidationMessageFor(model => model.ClassCarId, "", new { @class = "text-danger" })</div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        @Html.LabelFor(model => model.Direction.AddressOrigin)
                                        @Html.TextBoxFor(model => model.Direction.AddressOrigin, new
                               {
                                   @class = "form-control",
                                   ng_model = "vm.origin",
                                   places_auto_complete = "places_auto_complet",
                                   size = 80,
                                   on_place_changed = "vm.placeChangedOrigin()"
                               })
                                        @Html.ValidationMessageFor(model => model.Direction.AddressOrigin, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        @Html.LabelFor(model => model.Direction.AddressDestination)
                                        @Html.TextBoxFor(model => model.Direction.AddressDestination, new
                               {
                                   @class = "form-control",
                                   ng_model = "vm.destination",
                                   places_auto_complete = "places_auto_complet",
                                   size = 80,
                                   on_place_changed = "vm.placeChangedDestination()"
                               })
                                        @Html.ValidationMessageFor(model => model.Direction.AddressDestination, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-xs-12">
                                        <ng-map zoom="14" center="Minsk">
                                            <directions draggable="false"
                                                        travel-mode="DRIVING"
                                                        origin="{{vm.placeOrigin.formatted_address}}"
                                                        destination="{{vm.placeDestination.formatted_address}}">
                                            </directions>
                                        </ng-map>
                                        @*<p>{{map.directionsRenderers[0].directions.routes[0].legs[0].distance.text}}</p>
                    <p>{{((map.directionsRenderers[0].directions.routes[0].legs[0].distance.value * 0.000621371192) * 10) / 10 | number:1}}</p>*@
                                    </div>


                                    @Html.HiddenFor(model => model.Direction.LatOrigin, new { ng_value = "vm.placeOrigin.geometry.location.lat()" })
                                    @Html.HiddenFor(model => model.Direction.LngOrigin, new { ng_value = "vm.placeOrigin.geometry.location.lng()" })
                                    @Html.HiddenFor(model => model.Direction.LatDestination, new { ng_value = "vm.placeDestination.geometry.location.lng()" })
                                    @Html.HiddenFor(model => model.Direction.LngDestination, new { ng_value = "vm.placeDestination.geometry.location.lng()" })
                                    @Html.HiddenFor(model => model.Price, new { ng_value = "(((map.directionsRenderers[0].directions.routes[0].legs[0].distance.value * 0.000621371192) * 10) / 10)  * order.ClassCar.Price | number:1" })
                                    <div class="col-xs-6">
                                        <h3>Distance: {{((map.directionsRenderers[0].directions.routes[0].legs[0].distance.value * 0.000621371192) * 10) / 10 | number:1}} miles</h3>
                                    </div>
                                    <div class="col-xs-6">
                                        <h3>
                                            Cost:
                                            <span class="glyphicon glyphicon-gbp"></span>
                                            {{(((map.directionsRenderers[0].directions.routes[0].legs[0].distance.value * 0.000621371192) * 10) / 10)  * order.ClassCar.Price | number:1}}
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        @Html.LabelFor(model => model.Client.Name)
                                        @Html.EditorFor(model => model.Client.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Client.Name, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-xs-6">
                                        @Html.LabelFor(model => model.Client.Surname)
                                        @Html.EditorFor(model => model.Client.Surname, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Client.Surname, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-xs-6">
                                        @Html.LabelFor(model => model.Client.Email)
                                        @Html.EditorFor(model => model.Client.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Client.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-xs-6">
                                        @Html.LabelFor(model => model.Client.Phone)
                                        @Html.EditorFor(model => model.Client.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Client.Phone, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-xs-6">
                                        @Html.LabelFor(model => model.DateBegin)
                                        @Html.EditorFor(model => model.DateBegin, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DateBegin, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-xs-6">
                                        @Html.LabelFor(model => model.TimeBegin)
                                        @Html.EditorFor(model => model.TimeBegin, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TimeBegin, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-xs-6">
                                        @Html.RadioButtonFor(model => model.PaymentId, 1)
                                        <label>Credit card</label>
                                    </div>
                                    <div class="col-xs-6">
                                        @Html.RadioButtonFor(model => model.PaymentId, 2)
                                        <label>Cash</label>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.PaymentId, "", new { @class = "text-danger" })
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <input type="submit" value="Book now" class="btn btn-primary" />
                                </div>
                            }
                            <div class="row">
                                <div class="col-xs-6">
                                    <form id="payForm" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="margin-top: -50px;">
                                        <input type="hidden" name="cmd" value="_s-xclick">
                                        <input type="hidden" name="hosted_button_id" value="NEVVCWEY7TQDJ">
                                        <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online."  class="img-responsive">
                                        <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                                    </form>
                                </div>
                            </div>
                            @*<tt>Order = {{order | json}}</tt><br />*@

                        </div>
                        @*<div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <input type="submit" value="Book now" class="btn btn-primary" />
                        </div>*@

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    <!--/.nav-footer dark -->
    <div class="dark-panel" id="panel">
        <div class="container">
            <p class="text-center">
                All businesses or commercial organisations lead a very busy life, which consists of important and crucial events. This includes                 trips for business negotiations, meetings with partners or customers,
                parties and presentations, exhibitions, seminars, conferences or company events. In all these cases,
                it is impossible to go without corporate transport. You can have your own cars, along with an
                entire department of staff responsible for coordinating drivers and vehicle maintenance, but it is
                much more profitable to use external providers ­ a corporate chauffeur service.
            </p>
        </div>
    </div>
    <!--/.nav-footer dark -->
</div>
<!--/.END BG1 -->
<!--/.START BG2 -->
<div id="bg2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">TOUR SERVICES</h1>
            </div>
        </div>

        <div class="row row-centered">
            <div class="col-sm-9 col-centered">
                <div class="media">
                    <div class="pull-left">
                        <img class="media-object" src="~/Content/Image/ic.png" alt="...">
                    </div>
                    <div class="media-body">
                        <h2>transfers from any London airport</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-centered">
            <div class="col-sm-9 col-centered">
                <div class="media">
                    <div class="pull-left">
                        <img class="media-object" src="~/Content/Image/ic.png" alt="...">
                    </div>
                    <div class="media-body">
                        <h2>meeting of private jet arrivals</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-centered">
            <div class="col-sm-9 col-centered">
                <div class="media">
                    <div class="pull-left">
                        <img class="media-object" src="~/Content/Image/ic.png" alt="...">
                    </div>
                    <div class="media-body">
                        <h2>car rental with a personal driver</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-centered">
            <div class="col-sm-9 col-centered">
                <div class="media">
                    <div class="pull-left">
                        <img class="media-object" src="~/Content/Image/ic.png" alt="...">
                    </div>
                    <div class="media-body">
                        <h2>corporate services (including meeting and transfer assistance for VIP­guests or important business partners)</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-centered">
            <div class="col-sm-9 col-centered">
                <div class="media">
                    <div class="pull-left">
                        <img class="media-object" src="~/Content/Image/ic.png" alt="...">
                    </div>
                    <div class="media-body">
                        <h2>school runs for children</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/.END BG2 -->
<!--/.START BG3 -->
<div id="bg3">
    <div class="container">
        <div class="row">

        </div>
    </div>
</div>
<!--/.END BG3 -->
<!--/.START BG4 -->
<div id="bg4">
    <div class="container">
        <div class="row">

        </div>
    </div>
</div>
<!--/.END BG4 -->
<!--/.START BG5 -->
<div id="bg5">
    <div class="container">
        <div class="row">

        </div>
    </div>
</div>
<!--/.END BG5 -->

<script src="https://maps.google.com/maps/api/js?key=AIzaSyDQ4W_bER4FDaLnFho84dq8ab2gn4KeuQI&libraries=placeses,visualization,drawing,geometry,places"></script>

<script src="~/Scripts/googlemaps.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    function OnSuccess() {
        alert("success");
    }
    function OnFail() {
        alert("fail");
    }
    function OnComplete() {
        alert("Complete");
    }

</script>